body {
  font-family: 'Mallanna', sans-serif;
  background-color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
}
#header {
  width: 100%;
  height: 10%;
  background-color: #1a214c;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 100;
  border-bottom-style: solid;
  border-bottom-color: white;
  border-bottom-width: 15px;
}
.link {
  font-family: 'Cabin Sketch';
  display: inline-block;
  margin: 20px 40px;
  padding: 10px;
  color: #1a214c;
  background-color: white;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 3px 0px #000002;
  -moz-box-shadow: 3px 3px 3px 0px #000002;
  box-shadow:  3px 3px 3px 0px #000002;
  cursor: pointer;
  transition: .5s;
}
.link:hover {
  opacity; 0.5;
  background-color: #929BC8;
  color: white;
}



.container {
  border-top: solid;
  border-top-width: 15px;
  border-color: white;
  width: 100%;
  position: absolute;
  font-size: 30px;
}
#home-container {
  top: 10%;
  background-color: black;
  position: relative;
  height: calc(90% -15px);
  height: -webkit-calc(90% - 15px);
  height: -moz-calc(90% - 15px);
}
#education-container {
  top: 100%;
  height: calc(100% -15px);
  height: -webkit-calc(100% - 15px);
  height: -moz-calc(100% - 15px);
}
#ec-container {
  top: 200%;
  height: calc(110% -15px);
  height: -webkit-calc(110% - 15px);
  height: -moz-calc(110% - 15px);
}
#experience-container {
  top: 310%;
  height: calc(160% -15px);
  height: -webkit-calc(160% - 15px);
  height: -moz-calc(160% - 15px);
}
#contact-container {
  top: 470%;
  height: 40%;
  background-color: #1a214c;
}
/*IT CHANGES SPACING WHEN I SWITCH TO FULL VIEW -- SHOULD PROBABLY DO PIXELS.? wait but how would do that work cause first page must be 100%*/

.overlay {
  /*position: ;*/
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 200;
}
#home-overlay {
  background-image: url("../img/abstract.jpg");
  opacity: 0.7;
}
#education-overlay {
  background-image: url("../img/berkeleyedit.jpg");
}
#ec-overlay {
  background-image: url("../img/abstract4edit.jpg");
}
#experience-overlay {
  background-image: url("../img/computeredit.jpg");
}



.title {
  position: absolute;
  top: 45%;
  font-size: 120px;
  z-index: 20;
  font-family: 'Cabin Sketch';
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  transition: 1s;
}
.title-shift{
  transform: translateX(20%);
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
}
.sub-title {
  position: absolute;
  top: 70%;
  font-size: 90px;
  font-family: 'Cabin Sketch';
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  transition: 1s;
}
.sub-title-shift {
  transform: translateX(30%);
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
}
.thumbnail {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
  z-index: 30;
  border-color: white;
  border-style: solid;
  border-width: 6px;
  cursor: pointer;
  transition: 1s;
}
.thumbnail-shift {
  height:550px;
  width:550px;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
}
#zoomin {
  background-image: url("../img/zoomin.png");
  z-index: 500;
  top: 24%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor:pointer;
}
#zoomout {
  background-image: url("../img/zoomout.png");
  z-index: 500;
  top: 45%;
  position: absolute;
  left: 28%;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor:pointer;
}
/*UHMMMM*/

.section-title {
  display: block;
  float: left;
  width: 100%;
  margin: 30px 0 20px 0;
  z-index: 20;
  font-family: 'Cabin Sketch';
  font-size: 54px;
}
.section-title:before, .section-title:after {
  content: "—————";
  /*help what else can i do? like an image?? */
}
ul {
  text-align: left;
  display: block;
  float: left;
  clear: left;
  z-index: 20;
  line-height: 40px;
  columns: 1;
  margin: 0px 25% 10px 23%;
  /*pls margin auto*/
  width: 50%;
}
/*make the list split columns by major bullets? if in multiple columns*/
.major-bullets {
  font-size: 30px;
  list-style: none;
}
.inner-list {
  margin-left: 60px;
  font-size: 24px;
}



.icon {
  position: absolute;
  height: 100px;
  width: 100px;
}
#java {
  top: 60%;
  left: 40%;
}
#python {
  top: 61%;
  left: 55%;
  height: 90px;
  width: 90px;
}
#html {
  top: 61%;
  left: 70%;
}
#css {
  top: 81%;
  left: 40%;
}
#jquery {
  top: 81%;
  left: 55%;
}
#photoshop {
  top: 81%;
  left: 70%;

}

#github {
  position: absolute;
  right: 50px;
  top: 250px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  /*include icon*/
}
#github-icon {
  display: block;
  clear:left;
  height: 80px;
  width: 80px;
  margin-left: 10px;
}
.contact-button {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  font-family: 'Cabin Sketch';
  display: inline-block;
  margin: 0 40px;
  padding: 10px;
  color: cornflowerblue;
  background-color: white;
  font-size: 16px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-box-shadow: 3px 3px 3px 0px #000002;
  -moz-box-shadow: 3px 3px 3px 0px #000002;
  box-shadow:  3px 3px 3px 0px #000002;
  border-color: white;
  border-style: dotted;
  border-width: 8px;
  transition: .5s;
}
.contact-button:hover {
  border-color: #3C4577;
}
.contact-icon {
  position: absolute;
  display: block;
  clear:left;
  height: 70px;
  width: 70px;
  margin-left: 15px;
  margin-top: 5px;
}
#linkedin {

}
#email {
  height: 60px;
  margin-top: 10px;
}
#facebook {

}
